[project]
name = "python-shellrunner"
version = "0.1.0"
description = "A tool for writing safe shell scripts in python."
authors = [
    {name = "adamhl8", email = "adamhl@pm.me"},
]
dependencies = [
    "psutil>=5.9.4",
]
requires-python = ">=3.10"
readme = "README.md"
license = {text = "MIT"}

[tool.pdm.dev-dependencies]
dev = [
    "black>=23.1.0",
    "ruff>=0.0.254",
    "pytest>=7.2.2",
    "types-psutil>=5.9.5.10",
    "pyroma>=4.2",
]

[tool.pdm.scripts]
pyright = {shell = "pyright src"}
ruff = {cmd = "ruff check src"}
lint = {composite = ["pyright", "ruff"]}
format = {cmd = "black src"}
test = {cmd = "pytest src"}
pyroma = {cmd = "pyroma ."}

[tool.pyright]
typeCheckingMode = "strict"
extraPaths = ["__pypackages__/3.10/lib", "src"]


[tool.black]
line-length = 120
target-version = ["py310"]

[tool.ruff]
line-length = 120
target-version = "py310"
select = ["E", "F", "W", "I", "N", "UP", "BLE", "FBT", "B", "A", "COM", "C4", "T10", "EM", "EXE", "ISC", "ICN", "G",
"INP", "PIE", "PYI", "PT", "Q", "RSE", "RET", "SLF", "SIM", "TID", "TCH", "ARG", "PTH", "ERA", "PL", "PLC", "PLE",
"PLR", "PLW", "TRY", "RUF"]
ignore = ["E501", "PLR0915", "PLR0912", "PLR0913"]

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"
